.amount-page [class*="ant-row"][class*="ant-form-item"] {
  height: unset;
  /* margin-bottom: 2px; */
}
.amount-page .send_amount-field {
  margin-bottom: 10px;
}
.amount-page .send_amount-field [class*="ant-row"][class*="ant-form-item"] {
  margin-bottom: 2px;
}
.fees div {
  padding: 0;
  max-width: 95%;
}
.amount-page [class*="label"]::after {
  background-color: transparent;
}
